---
layout: layouts/base.njk
---

<div class="home-layout">
    <!-- Hero Section -->
    {% include "components/hero.njk" %}

    <!-- Club Updates Section -->
    {% include "components/club-updates.njk" %}

    <!-- Join Section -->
    {% include "components/join-section.njk" %}
</div>