---
layout: layouts/home.njk
title: Home
description: Southern District Cricket Club Darwin - The Crocs. Join us for an exciting season of cricket! Discover our teams, follow our progress, and become part of our vibrant community.
---